<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVEYLAY_WINDOW" />

    <application
            android:name=".app.LiveApplication"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:targetApi="31">

        <activity
                android:name=".activity.MainActivity"
                android:exported="true"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.TbsDebugActivity"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/FullscreenTheme"/>
        <service
                android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
                android:label="dexopt"
                android:process=":dexopt"/>

        <receiver
                android:name="com.vasthread.webviewtv.activity.BootReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter
                android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICTBOOT_POWERON" />
                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>